# Ambiente virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Configurações do VSCode
.vscode/

# Pastas de build e distribuição
build/
dist/
*.egg-info/

# Arquivos de log
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Outras dependências ou arquivos gerados
*.sqlite3
